@import "tailwindcss";

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.quiz-container {
  margin: 20px 0;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.result-container {
  margin: 20px 0;
}

.fruit-result {
  margin: 20px 0;
  font-size: 24px;
}

.characteristics {
  margin: 30px 0;
  text-align: left;

  border-radius: 10px;
}

.characteristics ul {
  list-style-type: none;
  padding: 0;
}

.characteristics li {
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
}

.characteristics li::before {
  content: "✅";
  position: absolute;
  left: 0;
  margin-right: 10px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
